<!DOCTYPE html>
<html lang="ua">
    <head>
        {% include 'layout/head.twig' %}
    </head>
    <body>
        <header>
            {% include 'layout/header.twig' %}
        </header>
        <section class="d-flex flex-column w-100 h-100 justify-content-center">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>