# RewriteEngine on
# RewriteCond %{SCRIPT_FILENAME} !-f
# RewriteCond %{SCRIPT_FILENAME} !-d
# RewriteCond %{SCRIPT_FILENAME} !-l

# RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
# RewriteRule ^ %1 [L,NE,R=302]

# RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l

RewriteRule ^(.*)$ /index.php/$1