body {
  min-height: 100vh;
  height: 100%;
}
header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #c2c2c2;
  padding: 0 1rem;
}
.header {
  max-width: 75rem;
  width: 100%;
  height: 100%;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.header__title__text {
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
  color: #424242;
}
.main-content {
  max-width: 75rem;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-self: center;
  align-self: center;
}
.main-content__button {
  margin-top: 1rem;
  height: 4rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.main-content__petitions, .register {
  -webkit-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0 1rem;
  width: 60%;
}
.card {
  margin-bottom: 1rem;
}
.card-header {
  font-weight: 600;
  text-transform: uppercase;
}
.card-footer {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0 1rem;
  align-items: center;
}
.card-footer__info-text {
  height: 100%;
}
.register_item {
  width: 100%;
  -webkit-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}